/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de Cores e Fontes */
:root {
    --cor-primaria: #fdebd3;
    --cor-secundaria: #ff6347;
    --cor-terciaria: #333;
    --cor-hover: #d84315;

    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-titulo: 'Krona One', sans-serif;
}

/* Estilos Gerais */
body {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
    font-family: var(--fonte-principal);
    font-size: 18px; /* Tamanho base da fonte */
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Apresentação */
.apresentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.apresentacao__conteudo {
    padding: 20px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--fonte-titulo);
    font-size: 2.8rem; /* Aumento de tamanho para melhor legibilidade */
    margin-bottom: 10px;
}

.apresentacao__conteudo__texto {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

//* Convite, Bio e Projetos */
.convite-bio-projetos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px; /* Adicionado espaçamento inferior para melhorar a aparência */
    text-align: center;
}

.convite-bio-projetos a {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.botao-convite {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-secundaria);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    transition: background-color 0.3s ease;
    text-align-last: center;
}

.botao-convite:hover {
    background-color: var(--cor-hover);
}

/* ... (seu código existente continua aqui) ... */

/* Imagem na Apresentação */
.imagem-container {
    width: 100%;
    text-align: center;
}

.apresentacao__imagem {
    max-width: 100%;
    height: auto;
    margin-top: 5vw;
}

/* Cabeçalho */
header, nav {
    background-color: var(--cor-secundaria);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vw 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 2vw;
    text-align: center;
    font-family: var(--fonte-principal);
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 2vw 4vw;
    border-radius: 1vw;
    transition: background-color 0.3s ease;
    font-family: var(--fonte-principal);
}

nav a:hover {
    background-color: var(--cor-hover);
}

/* Projetos */
.projetos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5vw;
}

.projeto {
    width: 45%;
    box-sizing: border-box;
    margin: 2vw;
    text-align: center;
    overflow: hidden;
}

.projeto a {
    display: block;
}

.projeto img {
    max-width: 100%;
    height: auto;
    border-radius: 2vw;
}

.projeto h2 {
    margin-top: 2vw;
}

/* Rodapé */
footer {
    background-color: var(--cor-secundaria);
    padding: 2vw 0;
    text-align: center;
    color: #fff;
}

/* Página Bio - Estilizações Adicionais */
.bio {
    text-align: center;
    padding: 5vw;
}

/* Estilização da seção de badges na página bio */
.badge-section-container {
    text-align: center;
    margin-top: 5vw;
}

.badge-section-container h2 {
    margin-bottom: 2vw;
}

.badge-section {
    display: flex;
    justify-content: center;
}

#badgeButton {
    max-width: 100%;
    height: auto;
    border-radius: 2vw;
}

/* Estilização do botão de download na página bio */
#downloadButton {
    padding: 2vw 4vw;
    background-color: var(--cor-secundaria);
    color: #fff;
    border-radius: 1vw;
    text-decoration: none;
    font-family: var(--fonte-principal);
    transition: background-color 0.3s ease;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 5vw;
}

#downloadButton:hover {
    background-color: var(--cor-hover);
    text-decoration: none; /* Remover sublinhado no hover */
}

/* Remover sublinhado nos links de toda a página */
a {
    text-decoration: none;
}

/* Remover sublinhado nos links durante o hover */
a:hover {
    text-decoration: none;
}
/* ... (seu código existente) ... */

/* Layout Responsivo */
@media screen and (max-width: 768px) {
    .projetos {
        flex-direction: column;
        align-items: center;
    }

    .projeto {
        width: 80%;
    }
}

/* Adicionada consulta de mídia para telas maiores */
/* Adicionada consulta de mídia para telas maiores */
@media screen and (min-width: 769px) {
    .bio {
        font-size: 20px; /* Aumento do tamanho da fonte na página bio para telas maiores */
    }

    .projetos {
        flex-direction: column; /* Alterado para coluna */
        align-items: center;
    }

    .projeto {
        width: 70%; /* Ajuste na largura dos projetos */
        margin: 10px;
        text-align: center;
        overflow: hidden;
    }

    .projeto img {
        max-width: 100%; /* Adicionada a largura máxima para as imagens dos projetos */
        height: auto;
        margin-bottom: 10px; /* Adicionada margem inferior para separar as imagens */
    }
}
/* No seu arquivo style.css */
/* ... (seu código existente) ... */
